In [28]:
import pandas as pd

data_path = "/Users/philippjohn/Developer/youtube-analytics-data/"
car = "Porsche_911_GT3â€‹"

# New df which filters to only include comments that contain meantion of a feature
def get_df_with_feature(car, df, feature):
    df_feature = pd.DataFrame()
    df_feature = pd.concat([df_feature, df[df["content_clean"].str.lower().str.contains(feature)]], axis=0)
    df_feature["feature"] = feature
    return df_feature

# Read csv df
df = pd.read_csv(data_path + car + "/sentiment_1.csv", header=[0], lineterminator='\n')
df = df.drop(['Unnamed: 0'], axis=1, errors='ignore')

# New df which filters to only include comments that contain meantion of a feature
features = ["rim", "steering wheel", "engine", "color", "colour", 
            "carbon", "light", "design", "sound", "interior", "exterior", 
            "mirror", "body", "brake", "chassis", "suspension", "gearbox", 
            "navigation", "infotainment"]
df_features = pd.DataFrame()
for feature in features:
    df_features = pd.concat([df_features, get_df_with_feature(car, df, feature)], axis=0)
df_features.head()

,id,content,content_clean,sentiment,feature
336,UgyHBqq1EmDC9CT1GC94AaABAg.9JpyULGEv6n9JqrhlMolGD,"This particular car has the PDK, but Porsche m...",This particular car has the PDK but Porsche mo...,3,steering wheel
2,Ugz4sR5lhRSiOnGUdF14AaABAg,Porsche: the best automobile engineering compa...,Porsche the best automobile engineering compan...,5,engine
6,Ugz4sR5lhRSiOnGUdF14AaABAg.9JpOknMMZEc9L_Xb0LMyzN,@IDKBOY LMMFAO Whenever Ferrari engineers a ca...,LMMFAO Whenever Ferrari engineers a car that ...,5,engine
30,UgyRbugCDkp0NirY6Ct4AaABAg,Live long Porsche Naturally Aspirated Engine,Live long Porsche Naturally Aspirated Engine,5,engine
61,UgyRbugCDkp0NirY6Ct4AaABAg.9JpHx73Sft79JrDbsDc7hc,"@SuperCar Smokey Unfortunately, that's true .....",Smokey Unfortunately thats true Sad enough t...,1,engine

In [31]:
df_feature_stats = []
for feature in features:
    df_feature_stats.append([feature,
                         len(df_features[df_features["feature"] == feature]),
                         df_features[df_features["feature"] == feature]["sentiment"].mean()])

df_feature_stats = pd.DataFrame(df_feature_stats, columns=['feature', 'comment_count', 'sentiment_mean'])
df_feature_stats = df_feature_stats[df_feature_stats['comment_count'] >= 5]  
df_feature_stats = df_feature_stats.sort_values(by=["sentiment_mean"], ascending=False)
df_feature_stats = df_feature_stats.reset_index(drop=True)
df_feature_stats

   feature  comment_count  sentiment_mean
0  gearbox              6        4.333333
1   design              8        3.750000
2   engine             50        3.720000
3    sound             46        3.717391
4    light             10        3.000000
5     body              7        3.000000